<h1 class="display-4">
  <strong>Invest today</strong> and secure happy
  <strong>future</strong>
</h1>
<div class="d-flex">
  <div class="p-4 self-align-start">
    <i class="fas fa-check"></i>
  </div>
  <div class="p-4 self-align-end">
    Now open your free demat account in 15 minutes*
  </div>
</div>

<div class="d-flex">
  <div class="p-4 self-align-start">
    <i class="fas fa-check"></i>
  </div>
  <div class="p-4 self-align-end">Secured and safe investment.</div>
</div>

<div class="d-flex">
  <div class="p-4 self-align-start">
    <i class="fas fa-check"></i>
  </div>
  <div class="p-4 self-align-end">
    Gauranteed annual 10% return in our mutual fund scheames.
  </div>
</div>

<div class="d-flex">
  <div class="p-4 self-align-start">
    <i class="fas fa-check"></i>
  </div>
  <div class="p-4 self-align-end">
    Discover how full service broking helps you stay on track of your financial
    goals.
  </div>
</div>

<div class="d-flex">
  <div class="p-4 self-align-start">
    <i class="fas fa-check"></i>
  </div>
  <div class="p-4 self-align-end">
    Investment in shares is subject to market risks.
  </div>
</div>
