.icon {
  padding-right: 10px;
  font-size: 20px;
  color: white;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
  color: white;
}

.header-brand {
  font-weight: bolder;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}
